* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
#experience {
  color: rgb(91, 236, 255);
}
#experience::after {
  color: gold;
  content: ")";
}
#experience::before {
  color: gold;
  content: "(";
}
#about-me::after {
  color: skyblue;
  content: "}";
  font-size: 2em;
}
#about-me::before {
  color: skyblue;
  content: "{";
  font-size: 2em;
}
#about-me-h2::after {
  color: gold;
  content: "( )";
}
.mobile-nav-toggle {
  visibility: hidden;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 562px), (max-width: 978px) {
  section {
    width: 100%;
  }

  #studio {
    display: flex;
  }
  #david {
    display: flex;
    transform: scale(auto) translateX(auto) translateY(auto);
  }
  #microphone {
    transform: scale(auto) translateX(auto) translateY(auto);
  }
}
@media (max-width: 35em) {
  #experience {
    color: rgb(91, 236, 255);
  }
  #experience::after {
    color: gold;
    content: ")";
  }
  #experience::before {
    color: gold;
    content: "(";
  }
  #about-me::after {
    color: skyblue;
    content: "}";
    font-size: 2em;
  }
  #about-me::before {
    color: skyblue;
    content: "{";
    font-size: 2em;
  }
  #about-me-h2::after {
    color: gold;
    content: "( )";
  }
  img {
    max-width: 100%;
  }
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0% 0% / 0.3);
    backdrop-filter: blur(0.3rem);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    text-shadow: black;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    border-left: rgb(60, 255, 0) 5px solid;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle {
    position: fixed;
    padding: 0;
    width: 2.5rem;
    z-index: 10000;
    background: url("../images/hamburger-activate.png");
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border: none;
    background-repeat: no-repeat;
    visibility: visible;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../images/close-nav.png");
  }
  .sec {
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: black;
  }
  .sec h2 {
    font-size: 2em;
    color: #fff;
  }
  .sec p {
    font-size: 1.2em;
    color: #fff;
  }
  #studio {
  }
  #david {
    transform: scale(auto) translateX(auto) translateY(auto);
  }
  #microphone {
    transform: scale(auto) translateX(auto) translateY(auto);
  }
}
@supports (
  backdrop-filter: blur
    (
      0.3rem,
    )
) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

body {
  background-color: black;
  position: aboslute;
}
li {
  display: inline;

  margin: 25px;
  cursor: pointer;
}
ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  float: right;
  font-weight: bolder;
  padding: 20px;
  text-shadow: 3px 3px 3px black;
}

#comal {
  height: 50px;
}

.contact-modal-bg {
  position: absolute;

  margin-top: -500px;
  margin-left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: ease-in 0.3s;
}
#close-modal {
  float: right;
  margin: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
.contact-modal {
  background-color: white;
  width: 80%;
  height: 60%;
  flex-direction: column;
  padding: 0px;
  border-radius: 20px;
}
.form-group {
  margin: 20px;
}
.submit-button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  border-radius: 5px;
  width: auto;
  line-height: 1.5em;
  color: white;
  padding: 3px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
}
.contact-message {
  resize: none;
  width: auto;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
}

textarea {
  height: 100px;
}
label {
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal-activate {
  margin-top: 0;
  margin-left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(black, black);
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 100px;
  z-index: 1000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a.active,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, black, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#microphone {
  z-index: 10;
}
h2#text {
  position: absolute;
  color: #fff;
  right: -900px;
  text-shadow: 3px 3px 3px black;
  white-space: nowrap;
  font-size: 7.5vw;
  transform: translateY(0px);
  text-shadow: rgba(4px, 4px, 4px, 0.7);
}
#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  transform: translateY(100px);
  font-size: 1.5em;
  z-index: 9;
}
.sec {
  position: relative;
  min-height: 700px;
  padding: 50px;
  background: black;
}
.sec h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}
.sec p {
  font-size: 1.2em;
  color: #fff;
}
#studio {
  filter: blur(8px);
}

#studio-gear {
  width: 100%;
  height: auto;
}
footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
}
.project-card {
  height: 400px;
  width: 250px;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.project-card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  height: 175px;
  background: linear-gradient(-45deg, rgb(235, 0, 0), rgb(255, 54, 228));
  border-radius: 0px 0px 50% 0px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  border-top: 5px solid white;
}
.project-card-body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  font-size: 1.1em;
  height: 150px;
}
.project-card-stats {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to left, red, rgb(255, 27, 179));
  height: 65px;
  border-radius: 0px 0px 10px 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  padding-top: 25px;
}
.project-card-stats:before {
  content: "Deployed";
  float: left;
  padding-left: 10px;
}
.project-card-stats::after {
  content: "GitHub";
  float: right;
  padding-right: 10px;
}
